.login_container{
	width: 350px;
	height: 500px;
	background-color: rgb(248, 249, 250);
	margin: auto;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 20px 20px 20px;
	margin-top: 50px;
	box-shadow: 10px 5px 13px -3px rgba(0,0,0,0.5);
}

#basic-addon2{
	width: 45px !important;
	
}

